[submodule ".registry"]
	path = .registry
	url = https://github.com/hubverse-org/hubverse-org.r-universe.dev
	branch = HEAD
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	branch = apache-arrow-15.0.2
	subdir = r
	registered = false
[submodule "distfromq"]
	path = distfromq
	url = https://github.com/reichlab/distfromq
	registered = false
[submodule "hubAdmin"]
	path = hubAdmin
	url = https://github.com/hubverse-org/hubAdmin
[submodule "hubCI"]
	path = hubCI
	url = https://github.com/hubverse-org/hubCI
[submodule "hubData"]
	path = hubData
	url = https://github.com/hubverse-org/hubData
[submodule "hubEnsembles"]
	path = hubEnsembles
	url = https://github.com/hubverse-org/hubEnsembles
[submodule "hubEvals"]
	path = hubEvals
	url = https://github.com/hubverse-org/hubEvals
[submodule "hubExamples"]
	path = hubExamples
	url = https://github.com/hubverse-org/hubExamples
[submodule "hubUtils"]
	path = hubUtils
	url = https://github.com/hubverse-org/hubUtils
[submodule "hubValidations"]
	path = hubValidations
	url = https://github.com/hubverse-org/hubValidations
[submodule "hubVis"]
	path = hubVis
	url = https://github.com/hubverse-org/hubVis
[submodule "zoltr"]
	path = zoltr
	url = https://github.com/reichlab/zoltr
	registered = false
