[submodule ".registry"]
	path = .registry
	url = https://github.com/hubverse-org/hubverse-org.r-universe.dev
	branch = HEAD
[submodule "distfromq"]
	path = distfromq
	url = https://github.com/reichlab/distfromq
	registered = false
[submodule "hubAdmin"]
	path = hubAdmin
	url = https://github.com/hubverse-org/hubAdmin
	branch = v1.2.0
[submodule "hubCI"]
	path = hubCI
	url = https://github.com/hubverse-org/hubCI
	branch = v0.0.1
[submodule "hubData"]
	path = hubData
	url = https://github.com/hubverse-org/hubData
	branch = v1.2.3
[submodule "hubEnsembles"]
	path = hubEnsembles
	url = https://github.com/hubverse-org/hubEnsembles
	branch = v0.1.9
[submodule "hubEvals"]
	path = hubEvals
	url = https://github.com/hubverse-org/hubEvals
[submodule "hubExamples"]
	path = hubExamples
	url = https://github.com/hubverse-org/hubExamples
	branch = v0.0.1
[submodule "hubStyle"]
	path = hubStyle
	url = https://github.com/hubverse-org/hubStyle
[submodule "hubUtils"]
	path = hubUtils
	url = https://github.com/hubverse-org/hubUtils
	branch = v0.2.0
[submodule "hubValidations"]
	path = hubValidations
	url = https://github.com/hubverse-org/hubValidations
	branch = v0.7.1
[submodule "hubVis"]
	path = hubVis
	url = https://github.com/hubverse-org/hubVis
[submodule "hubverse"]
	path = hubverse
	url = https://github.com/hubverse-org/hubverse
[submodule "scoringutils"]
	path = scoringutils
	url = https://github.com/epiforecasts/scoringutils
	registered = false
